// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


li {
  display:inline;
  background-color: #3397DB;
  margin: 5px;
  padding: 8px 15px;
  color: white;
  font-weight: bold;
}

p {
  padding-top : 20px;
}
